$teaser-main-margin-top:		15px !default;

$teaser-actions-margin-top:		15px !default;

$teaser-fog:					true !default;
$teaser-fade-size:				30px !default;
$teaser-fade-opacity:			1 !default;
$teaser-fade-color:				white !default;

$teaser-transitions:			true !default;